Package: maxchou
Name: jailsu
Depends: 
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Max Chow
Author: Max Chow
Section: System
Tag: role::hacker
Version: 0.0.1-2+debug
Installed-Size: 68
